@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    &.blue-theme { background-color: #e3f2fd; }
    &.green-theme { background-color: #e8f5e8; }
    &.red-theme { background-color: #ffebee; }
}

/* Grid Containers */
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Column Spans */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-6 { grid-column: span 6; }
.col-12 { grid-column: span 12; }

/* Flexbox Utilities */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image Sizing */
.img-33 { max-width: 33%; }
.img-50 { max-width: 50%; }
.img-75 { max-width: 75%; }
.img-100 { max-width: 100%; }

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline;
            margin-right: 15px;
        }
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            &:hover {
                color: #0066cc;
            }
        }
    }

    main {
      img {
        max-width: 100%;
        height: auto;
      }  
    }
}