<body>
<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <h2>Randi Umphrey</h2>
    <p>I am a graphic designer and web developer who loves building brands from the bottom up. I am a mom of 3 wonderful
        children and wife to a fantastic husband. I'm a pretty adventurous person who loves the outdoors and adventure
        sports.</p>
    <h2>My Interests</h2>
    <ul>
        <li>Graphic Design</li>
        <li>Web Development</li>
        <li>Paragliding</li>
        <li>Traveling</li>
        <li>Art</li>
        <li>Rock Climbing</li>
        <li>Soccer</li>
        <li>Snorkeling</li>
        <li>Snowboarding</li>
    </ul>
</main>
<%- include('partials/footer') %>
</body>