<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body class="<%= bodyClass %>">
    <header>
        <h1><%= greeting %></h1>
        <p><%= seasonGreeting %></p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Course Catalog</a></li>
                <li><a href="/demo">Middleware Demo</a></li>
                <li><a href="/departments">Departments</a></li>
                <li><a href="/faculty">Faculty</a></li>
            </ul>
        </nav>
    </header>